{% extends 'password/header.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset password</h2>
		<hr>
		<p>Hai dimenticato la password? Inserisci il tuo indirizzo qui sotto e ti spediremo un'email per impostarne una nuova.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <br>
            <button class="btn btn-primary" type="submit">Invia ora</button>
        </form>
  	</div> 

{% endblock %}
