{% extends 'password/header.html' %}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Link di reset password inviato</h2>
		<hr>
		<p>Se l'indirizzo email che hai inserito è associato al tuo account, ti abbiamo inviato le istruzioni per impostare una nuova password. Dovresti riceverle a breve.<br>Se non hai ricevuto nessun messaggio, per favore verifica che l'indirizzo inserito sia corretto, e controlla la cartella spam della tua casella di posta</p>
  </div>

{% endblock %}
