{% extends "password/header.html" %}

{% block content %}

  {% load crispy_forms_tags %}
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Conferma reset password</h2>
		<hr>
		<hr>
        <p>Inserisci la tua nuova password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Imposta password</button>
        </form>
    </div>

{% endblock %}
