{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff%}
  <h2>Modifica scadenza dell'utente {{username}} (ID: {{id}})</h2>
  <form method="post">
    {{ form.as_p }}
    <button type="submit">Applica modifiche</button>
  </form>
  <p><a href="{% url 'manager.list_user_reminders' %}?username={{username}}">Torna alla lista scadenze dell'utente</a></p>
  <p><a href="{% url 'manager.manage_user_profile' %}?username={{username}}">Torna al profilo utente</a></p>
  <p><a href="{% url 'manager.home' %}">Torna alla schermata iniziale</a></p>
  <p><a href="{% url 'manager.logout' %}">Log Out</a></p>
{% elif not user.is_authenticated %}
  <p>Utente non autenticato.</p>
{% elif not user.is_staff %}
  <p>Non sei un utente manager</p>
  <a href="{% url 'manager.login' %}">Log In</a>
{% endif %}
{% endblock %}
